@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(63, 57, 119);
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

li {
    list-style: none;
}
