/* .square {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} */

.squares {
    background: #272727;
    border: none;
    font-size: 5rem;
    /* font-weight: 800; */
    cursor: pointer;
    outline: none;
}

.X {
    color: red;
}
.O {
    color: green;
}
