/* .row {
    border: 2px solid blue;
    height: 10vh;
}

.col {
    border: 2px solid red;
} */

.board {
    border: 1rem solid #aeaae2;
    background: #aeaae2;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
}
